.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-image {
  width: 200px;
  height: 200px;
}
.contact-heading {
  color: #6d386b;
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: bold;
}
